# macOS
.DS_Store

/.bundle/
/vendor/
/_site/
/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata
/node_modules/
/.claude/worktrees/clever-margulis/.github/workflows
/.claude/worktrees/clever-margulis/_includes
/.claude
.DS_Store
